

img {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/*------------- checkbox alignment for html checkbox---------------- */
ul {
  list-style-position: inside;
  padding-left: 0;
  font-weight: normal
}



/*------------- checkbox alignment for markdown checkbox---------------- */

input[type="checkbox"] {
        margin-right: 0.5ch;
      }

/*------------ buttons for links ---------------------- */

.link_button {
    border-radius: 8px;
    border: 1px solid #black;
    background: #414487FF;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.slido_button {
    border-radius: 8px;
    border: 1px solid #black;
    background: green;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.resource_button {
    border-radius: 8px;
    border: 1px solid #black;
    background: #FDFD96;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


/*------------- button link text color---------------- */


.link_button a:link{
    color: #fff;
}

.slido_button a:link{
    color: #fff;
}

.resource_button a:link{
    color: black;
}


/* To add some space below the navigation bar */

 body {
  margin-top: 100px;
}


/* add some color - if you want color behind a major point on your website */

.banner_color {
  background-color: lightblue;
  font-weight:bold;

}

/* Style buttons - if you want some text centered and bolded */

.center {
  font-weight:bold;
  text-align: center;
}

/* Style buttons - if you want to have a button */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 14px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.click_to_expand_block {
    padding: 1em;
    padding-top: .5em;
    border: 1px grey;
    background: #E8E8E8;
    color: black;
}
